<div class="sidebar">
            <!--右侧第一部分-->
            <div class="right-one">
                <div class="one-title">
                    <span>在线课堂</span>
                    <span><a href="#"></a></span>
                </div>
                <div class="one-body">
                    <a href="#"><img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt=""></a>
                </div>
            </div>
            <!--右侧第二部分-->
            <div class="right-two clearfix">
                <p class="two-title">关注小饭桌</p>
                <div class="two-body">
                    <ul class="two-left">
                        <li><a href="#">知乎小饭桌</a></li>
                        <li><a href="#">新浪小饭桌</a></li>
                        <li><a href="#">头条小饭桌</a></li>
                    </ul>
                    <div class="two-right">
                        <p>扫码关注小饭桌微信公众平台xfz008</p>
                    </div>
                </div>
            </div>
            <!--右侧第三部分-->
            <div class="right-three">
                <p class="three-title">热门推荐</p>
                <ul class="three-list">
                    <li class="three-body">
                        <div class="three-left">
                            <p class="left-title"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ON...</a></p>
                            <div class="left-foot">
                                <p>深度报道</p>
                                <p>1小时前</p>
                            </div>
                        </div>
                        <div class="three-right"><a href="#"><img
                                src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a></div>
                    </li>
                    <li class="three-body">
                        <div class="three-left">
                            <p class="left-title"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ON...</a></p>
                            <div class="left-foot">
                                <p>深度报道</p>
                                <p>1小时前</p>
                            </div>
                        </div>
                        <div class="three-right"><a href="#"><img
                                src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a></div>
                    </li>
                    <li class="three-body">
                        <div class="three-left">
                            <p class="left-title"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ON...</a></p>
                            <div class="left-foot">
                                <p>深度报道</p>
                                <p>1小时前</p>
                            </div>
                        </div>
                        <div class="three-right"><a href="#"><img
                                src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a></div>
                    </li>
                </ul>
            </div>
        </div>
